.deck-name	{
	font-size:	2em;
	margin-top: 20px;
	margin-bottom: 10px;
	font-style:	bold;
	cursor:	pointer;
	display:	block;
}
.decklist	{
	text-align:	left;
	border: 1px solid #AAA;
	background-color: #FFF;
	padding: 5px;
	margin:	5px;
	display: block;
	opacity:	1;
	white-space: pre;
	height:	20em;
	overflow-y: scroll;
}
.card	{
	width: 120px;
	padding: 2px;
	-webkit-transition: -webkit-transform 2s;
	transition:	transform 2s;
}
.card-plot	{
	width: 220px;
	padding: 2px;
}
.card-kneel	{
	transform:          rotate(90deg);
	-ms-transform:      rotate(90deg);
	-moz-transform:     rotate(90deg);
	-webkit-transform:  rotate(90deg);
	-o-transform:       rotate(90deg);
}
.card-selected	{
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.2), 0 0 20px 0 rgba(128, 0, 0, 0.3);
}
.plot-used	{
	color: #DD0000;
	font-weight: bold;
}
.card-info	{
	position:	absolute;
	right:	5px;
	bottom:	0px;
	color:	#FFFFFF;
	opacity:	0.7;
}
.card-info-id	{
	cursor: pointer;
}

.btn-claim-int	{
	position: absolute;
	right:	5px;
	bottom:	5px;
	color:	22FF22;
}

.dropdown-menu {
    min-width: auto;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.region	{
	border: 1px solid	#AAAAAA;
	border-radius: 5px;
	min-height: 50px;
}
.region-plot	{
	border: 1px solid	#AAAAAA;
	border-radius: 5px;
	min-height: 50px;
}
.region-drop	{
	border-color: #AA0000;
}
.row	{
	margin-top: 5px;
}
.region-title	{
	color:	#AAAAAA;
}
.region-root	{
	position: relative;
	display: inline-block;
}
.region-installed	{
	position: relative;
   display: inline-block;
	-webkit-transition: -webkit-transform 2s;
	transition:	transform 2s;
}
.card-count	{
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666699;
	border-radius: 5px;
	text-align: center;
	padding: 0px 5px;
}
.card-counter	{
	width: 1.8em;
	height: 1.8em;
	position: absolute;
	bottom: 50%;
	right: 20%;
	background-color: #AA0000;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
.counter-value	{
	line-height: 1.8em;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: #FFFFFF;
}
.dupe-counter	{
	width: 1.8em;
	height: 1.8em;
	position: absolute;
	bottom: 10%;
	right: 10%;
	background-color: #000088;
	border-radius: 10%;
	text-align: center;
}
.dupe-value	{
	line-height: 1.8em;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: #FFFFFF;
}
#popupmenu	{
	position: 		absolute;
	background-color:	rgba(255,255,255,0.8);	
	border: 			1px solid #AAAAAA;
	text-align: 	center;
	z-index:			9999;
}
