body	{
	font-family: 'Patrick Hand', cursive;
	--font-size:	16px;
}

.decklist	{
	position:	sticky;
	top:			0px;
}

.tab-content	{
	padding-top:	10px;
}

.row	{
	padding-bottom:	10px;
}

.guardian	{
	color:	darkblue;
}
.seeker	{
	color:	goldenrod;
}
.rogue	{
	color:	darkgreen;
}
.mystic	{
	color:	purple;
}
.survivor	{
	color:	darkred;
}