.card-obstacle	{
	width: 200px;
}
.card-active-obstacle {
	width: 300px;
}

.card-bmkt	{
	width: 120px;
}

.row-crossfire	{
	position: sticky;
	position: -webkit-sticky;
	top:	0px;
	z-index: 99;
	#background-color:	rgba(0,0,0,0.8);
	padding: 10px 0px;
}