/* some style */

body {
  font-family: 'Orbitron', sans-serif !important;
	background-color: #DDD !important;
}

.card {
	float: left;
	width: 150px;
	height: 80px;
  border-radius: 10px;
	margin: 5px;
	color: white;
  font-weight: bold;
  text-align: center;
}

.card-deck {
  width: 50px;
  text-align: center;
}
.card-back-3 {
	background-color: darkslategrey;
}
.card-back-2 {
	background-color: blueviolet;
}
.card-back-1 {
	background-color: olive;
}

.res-banner {
  height: 30%;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

.res-cost {
  top: 10px;
  display: inline-block;
  float: none;
}