/* Core Styles */  

body { font-family: 'Exo 2', sans-serif; }
a    { color: darkslategrey; }

.icon-sig                {color: gold;}
.icon-loyal            {color: slateblue;}

.space_marines      {color: goldenrod;}
.astra_militarum  {color: darkslategrey;}
.orks                        {color: darkgreen;}
.chaos                      {color: darkorange;}
.dark_eldar            {color: purple;}
.eldar                      {color: gold;}
.tau                          {color: lightskyblue;}
.tyrranids              {color: brown;}
.necrons                  {color: teal;}
.neutral                  {color: darkgray;}
