@import 'https://fonts.googleapis.com/css?family=Aldrich|Metamorphous';

.background	{ 
	background-color: #CCC;
	background: -webkit-linear-gradient(#CCC, #000); 	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#CCC, #000); 			/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#CCC, #000); 		/* For Firefox 3.6 to 15 */
	background: linear-gradient(#CCC, #000); 				/* Standard syntax */	
}
.container 	{ margin: 0; padding: 0;}
.row			{ margin: 5px; padding: 0;}
*[class^='col-'] {
	padding-left: 5px;
	padding-right: 5px;
}

.hulk 	{
	text-align:		center;
	font-family: 	Metamorphous; 
	font-size: 		48px; 
	font-weight: 	bold;
	background-color: #565656;
	color: transparent;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-background-clip: text;
}
table, tr, td {
	border: 		2px;
	padding: 	2px 5px;
	text-align: center;
	position: 	relative;
	font-family: Aldrich;
	font-size:	11pt;
	background: #222222; 
	color: 		#FFFFFF;
}
td.form-left {
	text-align: right;
}
td.form-center {
	text-align: center;
}
td.form-right {
	text-align: left;
}

.clickable {
	cursor: pointer;
	/*background-color: rgba(0,0,128,0.1);*/
	/*color:				#AAFFAA;*/
}

.dice {
	width: 				2.5em;
	height:				2.5em;
	background-color: #800;
	font-family:		Aldrich, cursive;
	font-weight:		bold;
	font-size:			24px;
	color:				#fff;
	text-align: 		center;
	cursor: 				pointer;
	border-radius:		10px;
	position:			fixed;
	bottom:				10px;
	right:				2px;
	z-index:				999;
}
.dice-value {
	line-height: 		2.5em;
	display: 			inline-block;
	vertical-align: 	middle;
}

.swarm {
	color: red;
}

.menu {
	font-family:	Aldrich, cursive;
	font-size: 		14px;
	visibility:		visible;
	position: 		absolute;
	background-color: rgba(255,255,255,0.9);
	border: 			1px solid black;
	text-align: 	center;
}

.btn-da {
	margin: 5px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}
.topright {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
.topoffset {
	position: absolute;
	top: 30px; 
	left: 0;
}

/* Playmat Styling */

.cardV { height: 150px; }
.card { width: 140px; }

/* Spawn Divs <div class="arrow-major"> */
.arrow-major {
	width: 0;
	height: 0;
	border-top: 10px solid yellow;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
		
.counter {
	font-size: 14px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 2em;
	height: 2em;
	text-align: center;
			
	background-color: #ff5555;
	background-image: -moz-radial-gradient(0.5em 0.5em 45deg, circle cover, green 0%, #001a00 100%, green 95%);
	background-image: -webkit-radial-gradient(0.5em 0.5em, circle cover, green, #001a00);
	background-image: radial-gradient(0.5em 0.5em 45deg, circle cover, green 0%, #001a00 100%, green 95%);

	border-radius: 50%;
	border: 2px solid #ffffff;
	
	cursor: default !important;
}
.counter-value {
	line-height: 1.8em;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}

.icon {
	width:		40px;
}

.btn-card {
	font-size: 			20px;
	letter-spacing:	5px;
	color:				#AAFFAA;
}

/* ORDERS styling */

table.orders {
}
tr.order {
  min-height: 200px;
}
td.order {
  vertical-align: top;
  cursor: pointer;
  border: 2px solid #AAA;
  width: 175px;
  text-align: center;
}
td.order-selected {
  border: 2px double #A00;
}
td.order-disabled {
  cursor: no-drop;
  opacity: 0.5;
}

/* Orders Menu */
div.ordermenu {
	position: fixed;
	left: 0px;
	bottom: 0px;
	border: 0px;
	z-index: 99;
}

div.orderhandle {
	font-family: Aldrich, cursive;
	font-weight: bold;
	font-size: 18px;
	color: #AAFFAA;
	display: inline-block;
	background-color: #222222 !important;
	padding: 5px;
	background-color: #AAAACC;
	border-left: 2px solid #AAA;
	border-top: 2px solid #AAA;
	border-right: 2px solid #AAA;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	/*float: right; */
}

div.ordertable {
	border: 1px solid #AAA;
	/*float: left;*/
}

.icon-action {
	font-size: 18px;
}

.spawn-minor {
	font-size: 18px;
	color: #EEE;
}
.spawn-major {
	font-size: 18px;
	color: yellow;
}

#teamorders {
	position: fixed;
	z-index: 100; 
	font-family: Aldrich;
}

/* Marine Styling */
.marineCell {
}

.grad-red {
  background: rgba(255,0,0,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(255,0,0,0.6),rgba(255,0,0,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(255,0,0,0.6),rgba(255,0,0,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255,0,0,0.6),rgba(255,0,0,0)); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(255,0,0,0.6),rgba(255,0,0,0)); 			/* Standard syntax */
}
.grad-blue {
  background: rgba(0,0,255,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0,0,255,0.6),rgba(255,0,0,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(0,0,255,0.6),rgba(255,0,0,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,255,0.6),rgba(255,0,0,0)); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,255,0.6),rgba(255,0,0,0)); 			/* Standard syntax */
}
.grad-green {
  background: rgba(0,255,0,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0,255,0,0.6),rgba(0,255,0,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(0,255,0,0.6),rgba(0,255,0,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,255,0,0.6),rgba(0,255,0,0)); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,255,0,0.6),rgba(0,255,0,0)); 			/* Standard syntax */
}
.grad-gray {
  background: rgba(128,128,128,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(128,128,128,0.6),rgba(128,128,128,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(128,128,128,0.6),rgba(128,128,128,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(128,128,128,0.6),rgba(128,128,128,0)); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(128,128,128,0.6),rgba(128,128,128,0)); 			/* Standard syntax */
}
.grad-purple {
  background: rgba(128,0,128,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(128,0,128,0.6),rgba(128,0,128,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(128,0,128,0.6),rgba(128,0,128,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(128,0,128,0.6),rgba(128,0,128,0)); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(128,0,128,0.6),rgba(128,0,128,0)); 			/* Standard syntax */
}
.grad-yellow {
  background: rgba(255,255,0,0.6); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(255,255,0,0.6),rgba(255,255,0,0)); 	/* Safari */
  background: -o-radial-gradient(rgba(255,255,0,0.6),rgba(255,255,0,0)); 		/* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255,255,0,0.6),rgba(255,255,0,0); 		/* Firefox 3.6 to 15 */
  background: radial-gradient(rgba(255,255,0,0.6),rgba(255,255,0,0)); 			/* Standard syntax */
}