.bg1 {
	margin: 20px;
}
.container {
	margin: 0px 20px;
}
table, tr, td {
	border: 		1px solid;
	padding: 	2px 5px;
	text-align: center;
	position: 	relative;
}
td.form-left {
	text-align: right;
}
td.form-center {
	text-align: center;
}
td.form-right {
	text-align: left;
}

.clickable {
	cursor: pointer;
	background-color: rgba(0,0,128,0.1);
}

.dice {
	width: 2em;
	height:	2em;
	background-color: #800;
	font: bold 12px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.swarm {
	color: red;
}

.menu {
	visibility:		visible;
	position: 		absolute;
	background-color: rgba(255,255,255,0.9);
	border: 		1px solid black;
	text-align: center;
}

.btn-da {
	margin: 5px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Playmat Styling */

.cardV {
	height: 150px;
}

.card {
	width: 175px;
}
		
.counter {
	font-size: 14px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 2em;
	height: 2em;
	text-align: center;
			
	background-color: #ff5555;
	background-image: -moz-radial-gradient(0.5em 0.5em 45deg, circle cover, green 0%, #001a00 100%, green 95%);
	background-image: -webkit-radial-gradient(0.5em 0.5em, circle cover, green, #001a00);
	background-image: radial-gradient(0.5em 0.5em 45deg, circle cover, green 0%, #001a00 100%, green 95%);

	border-radius: 50%;
	border: 2px solid #ffffff;
	
	cursor: default !important;
}
.counter-value {
	line-height: 1.8em;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}
